@import "tailwindcss";
html, body{
   font-family: 'DM-Sans', sans-serif;
   background-color: #000000;
   overflow-x: hidden;
   width: 100%;
   padding-left: 8px;
   padding-right: 8px;
}

/* Custom Swiper Navigation Arrow Colors */
.swiper-button-next,
.swiper-button-prev {
  color: #4AFF6B !important; /* Green color to match your theme */
  font-size: 18px !important;
  display: none !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px !important;
  color: #4AFF6B !important;
  line-height: 1;
}

/* Custom Swiper Pagination Dot Colors */
.swiper-pagination-bullet {
  background: #000000 !important; /* Gray color for inactive dots */
  opacity: 0.5 !important;

}

.swiper-pagination-bullet-active {
  background: #4AFF6B !important; /* Green color for active dot */
  opacity: 1 !important;
}
@media  (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
}
@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  animation: scroll-x 20s linear infinite;
}